<%= form_for(@artifact, url: goal_artifacts_path(@goal)) do |f| %>
	<fieldset>
		<h3>Reject this bet?</h3>
		<%= render(partial_for(@artifact.tranzaction, 'read_only', ''),
			:tranzaction => @artifact.tranzaction)
		%>
		<div class="actions">
			<%= f.submit "Reject" %>
		</div>
	</fieldset>
<% end %>
