<h4>Create a Bet</h4>

<%= form_for(@tranzaction, :url => { :action => "update" }) do |tf| %>
	<%= render 'shared/error_messages', :object => tf.object %>
	<%= render partial_for_state(@tranzaction), :t => tf %>
<% end %>
