<h2>Participants in your current and past transactions</h2>

<!--%= will_paginate(@associates) % -->

<table>
	<% @associates.each do |associate| %>
		<tr>
			<td><%= associate.last_name %>, <%= associate.first_name %></td>
		</tr>
	<% end %>
</table>

<!-- ul class="users" -->
	<!-- %= render @associates % -->
<!-- /ul -->

<!-- %= will_paginate(@associates) % -->
