<h3>Make this offer?</h3>
<p>
	<%= @tranzaction.expand_terms %>
</p>
<div class="actions">
	<p><p></p>
		<%= t.submit "Offer" %>
		<%= t.submit "Back",	:name => "previous_button" %>
		<%= t.submit "Cancel",	:name => "cancel_button" %>
	</p>
</div>
