<h3>Make this offer?</h3>
<p>
	<%= @tranzaction.terms_artifact.text.gsub('PARTY1', @tranzaction.party1.dba)\
		.gsub('PARTY2', @tranzaction.party2.dba)\
		.gsub('BET_AMOUNT', @tranzaction.party1_bet.value.to_s)\
		.gsub('OFFER_EXPIRATION', @tranzaction.offer_expiration.to_s)\
		.gsub('BET_EXPIRATION', @tranzaction.bet_expiration.to_s)\
	%>
</p>
<div class="actions">
	<p><p></p>
		<%= t.submit "Offer" %>
		<%= t.submit "Back",	:name => "previous_button" %>
		<%= t.submit "Cancel",	:name => "cancel_button" %>
	</p>
</div>
