<!-- Video startup for home page splash -->
<%= video_tag(	["/assets/oceans-clip.mp4",
			   	"/assets/oceans-clip.webm",
			   	"/assets/oceans-clip.ogg",
			   	"/assets/oceans-clip.flv"],
				:size => "636x264",
				:poster => "oceans-clip.png",
				:autoplay => "true") %>

<h1><br />Place a bet.</h1>
<p>
    The following is a simple contract fed to the Transaction Execution Engine.
</p>
<%= link_to "Sign up now.", signup_path, :class => "signup_button round" %>
