<%= form_for(@artifact, url: goal_artifacts_path(@goal)) do |f| %>
	<fieldset>
		<h3>Cancel this bet (if agreed upon by other party)?</h3>
		<div class="actions">
			<%= f.submit "Request" %>
		</div>
	</fieldset>
<% end %>
